# .github/workflows/reusable/lineage_emit_reusable.yml
name: reusable_lineage_emit
on:
  workflow_call:
    inputs:
      artifact_name: {type: string, required: true}
      dataset_ns:    {type: string, required: true}
jobs:
  lineage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with: {name: "${{ inputs.artifact_name }}-attest", path: dist}
      - name: Emit OpenLineage event
        env:
          OPENLINEAGE_URL: ${{ secrets.OPENLINEAGE_URL }}
          OPENLINEAGE_API_KEY: ${{ secrets.OPENLINEAGE_API_KEY }}
        run: |
          pipx install openlineage-python
          python - <<'PY'
import os, json, time
from openlineage.client import OpenLineageClient
from openlineage.client.run import RunEvent, RunState, Run, Job, Dataset, RunFacet
ns = os.getenv("GITHUB_REPOSITORY")
client = OpenLineageClient.from_environment()
run = Run(runId=f"kfm-{int(time.time())}")
job = Job(namespace=ns, name="${{ inputs.artifact_name }}")
inputs=[Dataset(namespace="${{ inputs.dataset_ns }}", name="${{ inputs.artifact_name }}.tgz")]
event = RunEvent(eventType=RunState.COMPLETE, eventTime=time.strftime("%Y-%m-%dT%H:%M:%SZ", time.gmtime()), run=run, job=job, inputs=inputs, outputs=[])
client.emit(event)
PY
