# .github/workflows/reusable/verify_reusable.yml
name: reusable_verify
on:
  workflow_call:
    inputs:
      artifact_name: {type: string, required: true}
jobs:
  verify:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/download-artifact@v4
        with: {name: "${{ inputs.artifact_name }}-attest", path: dist}
      - name: Install cosign & conftest
        uses: sigstore/cosign-installer@v3
      - uses: open-policy-agent/setup-opa@v2
        with: { version: latest }
      - name: Verify cosign signatures (keyless)
        env: {COSIGN_EXPERIMENTAL: "true"}
        run: |
          cosign verify-blob --certificate-identity-regexp "https://github.com/.+" \
            --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
            --signature dist/${{ inputs.artifact_name }}.tgz.sig dist/${{ inputs.artifact_name }}.tgz
          cosign verify-blob --certificate-identity-regexp "https://github.com/.+" \
            --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
            --signature dist/${{ inputs.artifact_name }}.sbom.sig dist/${{ inputs.artifact_name }}.sbom.spdx.json
      - name: Policy gate (Conftest)
        run: |
          conftest test dist/${{ inputs.artifact_name }}.sbom.spdx.json \
            --policy policy/conftest --all-namespaces
